header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  z-index: 1;
  display: flex;
  gap: 3rem;
  align-items: flex-end;
}

.logo__container img {
  width: 240px;
}

.menu__links {
  display: flex;
  gap: 2rem;
  color: white;
  font-size: 12px;
}

.mobile__menu__links {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: black;
  padding-inline: 3rem;
  text-align: right;
  padding-block: 3rem;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
}

.show__mobile__menu {
  transform: translateX(0);
}

.mobile__menu__links span {
  font-size: 12px;
  cursor: pointer;
  color: white;
  transition: color 0.6s;
}

.mobile__menu__links span:hover {
  color: #aaa;
}

.hamburger__menu {
  width: 22px;
  height: 20px;
  display: none;
  z-index: 2;
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 4px;
  transition: all 0.5s;
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__middle {
  display: none;
}

.open .hamburger__top {
  transform: rotate(45deg) translateX(4px);
}

.open .hamburger__bottom {
  transform: rotate(-45deg) translateX(4px);
}

/* BANNER */

.banner__container {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.current__project {
  color: white;
  position: absolute;
  bottom: 100px;
  left: 50px;
  text-transform: uppercase;
}

.current__project h4 {
  font-weight: 100;
  font-size: 22px;
}

.current__project h2 {
  font-weight: 700;
  font-size: 50px;
}

.current__project button {
  border: 2px solid white;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.current__project button:hover {
  background-color: white;
  color: black;
}

/* SEARCH COMPONENT */
.search__component {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
  padding-block: 3rem;
  gap: 1rem;
}

.search__component .filters {
  display: flex;
  gap: 1rem;
}

.search__input {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  border: 1px solid;
  width: 20rem;
}

.search__filter {
  border: 1px solid;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  width: 15rem;
}

.search__button,
.reset__button {
  background-color: black;
  color: white;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 5px;
}

.search__button {
  width: 25rem;
}

.filter__types {
  display: flex;
  gap: 1rem;
}

.search__component label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 25px;
}

/* DATAGRID COMPONENT */
.datagrid__component {
  padding-inline: 1rem;
}

/* CAPSULE */
.capsule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.capsule:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1) translateY(-0.5rem);
  background-color: black;
  color: white;
}

.capsule:hover .capsule__status span {
  background-color: white;
  color: black;
}

.capsule__content {
  display: flex;
  flex: 90%;
  align-items: center;
}

.capsule__serial {
  flex: 40%;
}

.capsule__serial h2 {
  font-weight: 700;
}

.capsule__serial span {
  font-size: 0.75rem;
  color: #a3a2a2;
  font-weight: 600;
}

.capsule__details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 60%;
}

.capsule__status {
  flex: 10%;
  text-align: center;
}

.capsule__status span {
  background-color: black;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  color: white;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

/* PAGINATION SECTION */
.pagination__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  margin-block: 1rem;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.pagination__section div {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.pagination__section div:hover {
  border: 2px solid;
  border-radius: 50%;
}

.pagination__section div.active {
  background-color: white;
  color: black;
  pointer-events: none;
}

.pagination__section div.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
